---
version: "3.6"

services:
  splunk:
    image: splunk/splunk:latest

    environment:
      - SPLUNK_START_ARGS=--accept-license
      # Install the required apps from local and remote(Splunkbase) repositories:
      #   - Add-on for Stream Forwarders (5238)
      #       https://api.splunkbase.splunk.com/api/v2/apps/5238/releases/8.1.0/download/?origin=sb&lead=true
      #   - TA for Zeek (5466)
      #       https://api.splunkbase.splunk.com/api/v2/apps/5466/releases/1.0.5/download/?origin=sb&lead=true
      #   - Corelight App For Splunk (3884)
      #       https://api.splunkbase.splunk.com/api/v2/apps/3884/releases/2.4.5/download/?origin=sb&lead=true
      - SPLUNK_APPS_URL=https://api.splunkbase.splunk.com/api/v2/apps/5238/releases/8.1.0/download/?origin=sb&lead=true,https://api.splunkbase.splunk.com/api/v2/apps/5466/releases/1.0.5/download/?origin=sb&lead=true
      - SPLUNKBASE_USERNAME=${SPLUNKBASE_USER}
      - SPLUNKBASE_PASSWORD=${SPLUNKBASE_PASS}
      - SPLUNK_USER=root
      - SPLUNK_PASSWORD=changeme
      - DEBUG=true

    volumes:
      - ./data:/data:z
      - ./data/splunk/etc:/opt/splunk/etc:z
      # - ./data/splunk/etc/splunk-launch.conf:/opt/splunk/etc/splunk-launch.conf:ro
      # - ./data/splunk/etc/apps/Splunk_TA_zeek/local/inputs.conf:/opt/splunk/etc/apps/Splunk_TA_zeek/local/inputs.conf:ro
      # - ./data/splunk/etc/apps/Splunk_TA_stream/local/streamfwd.conf:/opt/splunk/etc/apps/Splunk_TA_stream/local/streamfwd.conf:ro

    ports:
      - 8000:8000


  # TODO: Add a container for app
  # babble:
  #   image: nvidia/cuda:10.0-cudnn7-devel-ubuntu18.04
