# TODO: Better allow list implementation for local development

etc/*
!etc/.gitkeep
!etc/splunk-launch.conf

!etc/streamfwd.conf
# !etc/apps/splunk_app_stream/local/streamfwd.conf


var/*
!var/.gitkeep
