# TODO: Better allow list implementation for local development

apps/*


todo/*


etc/*
!etc/.gitkeep
!etc/splunk-launch.conf

!etc/apps/
etc/apps/*
!etc/apps/Splunk_TA_zeek/
etc/apps/Splunk_TA_zeek/*
!etc/apps/Splunk_TA_zeek/local/
etc/apps/Splunk_TA_zeek/local/*
!etc/apps/Splunk_TA_zeek/local/inputs.conf
!etc/apps/Splunk_TA_zeek/local/props.conf
